/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, serif;
  scroll-behavior: smooth;
}

body {
  background: #ddd;
}

/* NAVBAR */
.navbar {
  position: fixed;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 8px 18px;
  border-radius: 25px;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.navbar a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* PAGE */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAIN FRAME */
.frame {
  width: 950px;
  height: 560px;
  background: #f6efe8;
  padding: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  border-radius: 10px;
}

/* LEFT CONTENT */
.left {
  width: 56%;
}

.left h1 {
  font-size: 40px;
  line-height: 1.1;
}

.left h2 {
  font-size: 30px;
  margin-bottom: 14px;
}

.left h4 {
  margin-top: 12px;
  font-size: 15px;
}

.left p {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 6px;
}

/* BADGE */
.badge {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin: 10px 0;
}

/* RIGHT IMAGE */
.right {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right img {
  width: 260px;
  border-radius: 18px;
}

/* OVAL IMAGE */
.oval {
  width: 230px;
  border-radius: 50%;
}

/* EDUCATION */
.edu-item {
  margin-bottom: 14px;
}

.edu-item span {
  font-size: 12px;
  color: #555;
}

/* ========================= */
/* PERSONAL SKILLS SECTION */
/* ========================= */

.skills-box {
  margin-top: 20px;
  display: flex;
  gap: 24px;
}

.skill {
  text-align: center;
}

.skill-circle {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background:
    conic-gradient(#cbb6a5 0deg, #cbb6a5 260deg, #eee 260deg);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  color: #000;
}

.skill-circle::before {
  content: "";
  width: 85px;
  height: 85px;
  background: #f6efe8;
  border-radius: 50%;
  position: absolute;
}



.skill p {
  font-size: 14px;
}

/* ========================= */
/* CONTACT SECTION */
/* ========================= */

.contact-info p {
  font-size: 14px;
  margin: 8px 0;
}

.contact-info i {
  margin-right: 6px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .frame {
    flex-direction: column;
    width: 90%;
    height: auto;
    gap: 18px;
    text-align: center;
  }

  .left, .right {
    width: 100%;
  }

  .right img {
    width: 210px;
  }

  .skills-box {
    justify-content: center;
    flex-wrap: wrap;
  }
}
